<!doctype html>
<html>
<head>
<title>Lab 2b</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>


<title> Lab 2b </title>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pcp.css') }}">

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>

<script src="./static/{{taskJS}}.js"></script>
<!-- <script src="./static/pcp.js"></script> -->

</head>
<body>
  <!-- <script src="./static/pcp.js"></script> -->

  <h1 style="text-align: center; padding: 5px; background-color: #eaf510; color: rgb(16, 1, 1);">FIFA22 Player Data Analysis</h1>
  <!-- <h3 class="barhead">On this website, we can analyze the correlation between different attributes of the 2019 Indian general election contestants through visualization. This webpage is designed to analyze PCA Scree plot, Scatterplot matrix, Biplot, and K means visualization.</h3> -->
  <nav class="stroke">
    <ul style="text-align: center;margin-top: 50px;margin-left: 320px;">
      <li><a href="mds">MDS Plot</a></li>
      <li><a href="mds_variable">MDS Variable Plot</a></li>
      <li><a href="pcp_page">Parallel Coordinate Plot</a></li>

      <!-- <li><a href="biplot">Biplot</a></li>
      <li><a href="elbowplot">K means visualization</a></li> -->
    </ul>
  </nav>


    <div class="container">

        <div id="svgElement">
            <p></p>
        
        </div>
        <!-- <svg width="800" height="700" id="draw_plot"> -->
        </svg>
        <div id="plotcolorlegend"></div>
        <div id="label"></div>

        <div id="chart"></div>
        <div id="tooltip" class="tooltip"></div>
        <div id ="di"> </div>
        <!-- <div id ="di1"> </div> -->
        <div class='screehead'><div id="theader"></div><table id="di1"></table></div>

        <div id="title"></div>

        <!-- <svg width="800" height="900" id="pcp"></svg> -->
        <div id="scatlegend"></div>
  
        <!-- <input type="checkbox" id="mds" name="mds" value="mds" onchange='return handleChange();'></input>-->

        <div id="heading"> Parallel Coordinates Plot </div> 
        <div id="title"></div>

        <svg width="800" height="800" id="scatterplot_matrix"></svg>
        <div id="scatlegend"></div>

        <script>
          // var data = {{data | safe}};
          // var color_indices = {{color_indices | safe}};
          {{taskJS}}();
        </script>
  
        
  </body>
  </html>


